<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register home</title>
  </head>
  <body>
    <h1>Register your home here...</h1>
    <form action="/add-home" method="POST">
      <input type="text" name="houseName" placeholder="enter house name" />
      <input type="text" name="price" placeholder="price per night of Home" />
      <input
        type="text"
        name="location"
        placeholder="enter your house location"
      />
      <input type="range" name="rating" min="1" max="5" />
      <input type="file" name="image" />
      <input type="submit" />
    </form>
  </body>
</html>
