<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb home</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <header
      class="bg-emerald-950 text-white text-4xl mb-[100px] h-[80px] text-center"
    >
      <h1 class="pt-[15px] font-semibold">welcome to airbnb</h1>
    </header>
    <main class="my-10 mx-20 py-10 shadow-xl text-center">
      <a
        class="p-2 border-2 border-emerald-950 rounded font-semibold"
        href="/add-home"
        >Add home</a
      >
    </main>
  </body>
</html>
