<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, minima
      voluptatibus, debitis odio ducimus ipsum inventore praesentium, quisquam
      dolor unde suscipit! Earum nemo perferendis recusandae veniam error
      perspiciatis animi laudantium.
    </p>
    <a href="/">Go To Home</a>
  </body>
</html>
