<header
  class="bg-emerald-950 w-[100%] h-[80px] p-6 flex justify-start items-center gap-2"
>
  <a class="text-white p-2" href="/add-home">Add home</a>

  <a class="text-white p-2" href="/">GoTo home</a>
</header>
