<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <h1 class="text-2xl tracking-tighter mb-4">Create User</h1>
      <form action="/create" method="POST">
        <input
          class="py-2 px-3 rounded-md bg-transparent outline-none border-2 border-zinc-800"
          type="text"
          name="username"
          placeholder="Username"
        />
        <input
          class="py-2 px-3 rounded-md bg-transparent outline-none border-2 border-zinc-800"
          type="email"
          name="email"
          placeholder="Email"
        />
        <input
          class="py-2 px-3 rounded-md bg-transparent outline-none border-2 border-zinc-800"
          type="password"
          name="password"
          placeholder="Password"
        />

        <input
          class="py-2 px-3 rounded-md bg-transparent outline-none border-2 border-zinc-800"
          type="number"
          name="age"
          placeholder="Age"
        />
        <input
          class="bg-blue-400 px-3 py-2 rounded-md"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
