<form action="/favorite" method="POST">
  <button
    class="bg-emerald-950 text-white px-1 rounded mt-2 hover:bg-emerald-900 transition duration-300 cursor-pointer"
  >
    Favorite
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
