<%- include('partials/Head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="m-6 text-center shadow-lg p-4">
      <h1 class="text-red-600 text-2xl font-bold">404! this page is not found...</h1>
    </div>
  </body>
</html>
