<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practice project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form py-5 px-5">
        <form action="/create" method="POST">
          <input
            class="block px-5 py-2 bg-zinc-800 text-white rounded-md outline-none w-full"
            type="text"
            placeholder="Title goes here..."
            name="title"
          />
          <textarea
            name="details"
            placeholder="enter your details here..."
            name="details"
            class="block px-5 py-2 bg-zinc-800 text-white resize-none mt-2 rounded-md outline-none w-full"
          ></textarea>
          <input
            class="mt-2 text-white bg-blue-600 px-5 py-2 rounded"
            type="submit"
            value="create task"
          />
        </form>
      </div>
      <div class="tasks p-5 flex gap-3 flex-wrap">
        <% if(files.length > 0){ %> <% files.forEach((val)=>{ %>
        <div class="bg-zinc-800 text-white py-2 px-5 rounded-md w-72">
          <h1 class="text-white text-3xl tracking-tighter"><%= val %></h1>
          <div class="flex w-full justify-between items-center mt-4">
            <a class="text-blue-300" href="./files/<%= val %>">Read more</a>
            <a class="text-zinc-400" href="/edit/<%= val %>">Edit FileName</a>
          </div>
        </div>
        <%}) %> <% } else { %>
        <h1 class="bg-zinc-800 text-white py-2 px-5 rounded-md w-72">
          No task yet...
        </h1>
        <% } %>
      </div>
    </div>
  </body>
</html>
